:root{
    --color-rgba-white-1: rgba(255, 255, 255, 0.5);
    --color-rgba-white-2: rgba(255, 255, 255, 0.8);
    --color-rgba-black: rgba(0, 0, 0, 0.8);
    --color-rgb-grey: rgb(31, 31, 31);
    --color-white: rgb(255, 255, 255);
    --color-black: rgb(0, 0, 0);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(../imagens/fundo-3.jpg) no-repeat center fixed;
    background-size: cover;
    height: 100%;
}

main{
    text-align: center;
}

h1{
    color: var(--color-rgba-white-1);
    font-size: 1em;
    text-align: center;
}
h2{
    color: var(--color-white);
    font-size: 2.3em;
}

p{
    width: 215px;
    height: 45px;
    margin: 5px;
    padding: 5px;
    font-size: 25px;
    background: var(--color-rgba-white-2);
    color: var(--color-black);
    text-align: right;
    border-radius: 5px;
}

.container-calculadora{
    
    height: auto;
    padding: 15px;
    background: var(--color-rgba-black);
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button{
    background: var(--color-rgb-grey);
    color: var(--color-white);
    border: none;
    width: 50px;
    height: 50px;
    margin: 2px;
    padding: 2px;
    font-size: 25px;
    cursor: pointer;
}

button:hover{
    background: var(--color-black);
}

.botao-maior{
    height: 106px;
}
.botao-maior-2{
    width: 106px;
}

table{
    margin: 5px;
}
